# No whitespace after the comma or in your part name!
config SHIELD_TYPHON_LEFT
    def_bool $(shields_list_contains,typhon_left)

# No whitespace after the comma or in your part name!
config SHIELD_TYPHON_RIGHT
    def_bool $(shields_list_contains,typhon_right)